@font-face {
    font-family: "spotify";
    src: url(/assests/font/GothamMedium.ttf);
}
:root{
    --grey: #121212;
}
*{
    padding: 0;
    margin: 0;
    color: rgb(205, 204, 204);
    font-family: "spotify",sans-serif;
    
}
body{
    background: #000;
    width: 100%;
    height: 100%;
}
nav{
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
}
.home-ic{
    width: 25px;
    padding: 0.7em;
    background: var(--grey);
    border-radius: 1.3em;
    border: none;
}
.logo{
    object-fit: cover;
    border-radius: 1.3em;
    border-radius: 2em;
    margin: 0em 1.2em 0em 1.2em;
    background: black;
    width: 30px;
    rotate: 5deg;
    transition: transform 1s ease;
}
.logo:hover{
    transform: rotate(360deg) scale(1.1);
}
nav input{
    border: none;
    background: var(--grey);
    margin-left: 10px;
    width: 35em;
    height: 3em;
    border-radius: 1.5em;   
}
.right-nav{
    width: 98vw;
}
.others-nav{
    margin: 0em 1em 0em 3em;
    text-align: center;
}
.three-nav a{
    padding-right: 1.5em;
    text-decoration: none;
    transition: transform 1s ease-in-out;

}
.three-nav a:hover{
    filter: brightness(20);
    transform: scale(1.1);
    
}
.logins a{
    margin: 0 15px;
    font-size: 17px;
    text-decoration: none;
    filter: blur(90) ;
   
    transition: transform 1s ease-in;
    transform-origin: center;

}
.logins a:hover{
    filter: brightness(20);
}
.logins button{
    width: 8em;
    height: 4em;
    background: white;
    color: black;
    border-radius: 5em;
    font-weight: 900;
    cursor: pointer;
    transition: transform 0.5s ease;

}
.logins button:hover{
    transform: scale(1.1);
}
.body1{
    box-sizing: border-box;
    height: 100%;
}
.body1 > *{
    margin: 5px;    
    background: var(--grey);
    height: 88vh;
    border: none;
    border-radius: 5px;
}
.leftt{
    width: 35vw;
    /* height: 80vh; */
}
.leftt h3{
    margin: 10px 10px;
}
.leftt h3 img{
    width: 30px;
}
.lib{
    gap: 10px;
}
.songlist{
    padding: 10px 30px 10px 30px;

}

.songlist ul{
    list-style: none;
    overflow-y: auto;
    height: 450px;
}
.songlist ul > *{
    padding: 10px;
    display: flex;
}
.songlist ul li{
    border: none;
    margin: 15px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 2s ease-in-out;
}
.songlist ul li:hover{

    background: rgb(41, 41, 41);

}
.songlist ul li img{
    border-radius: 10px;
}

.name > *{
    padding: 2px 30px;
}
.songName{
    font-size: 20px;
}
.artiyName{
    font-size: 10px;
}
.me{
    width: 100%;
    height: 125px;
    background:  #E8ECD6;
    color: #B75A48;
    bottom: 0;

}





/* -------------rightt div ------------------ */
.rightt{
    width:65vw;
}
.rightt > *{
    padding: 20px;
}
.plus{
    width: 30px;
}
.pop_artists{
    width: 60vw;
    height: 80vh;
}
.artists{
    flex-wrap: wrap;
    margin: 10px;
    height: 60vh;
    overflow-x: auto;
    background-color: #1a1a1a;
    border: none;
    border-radius: 5px;
}
.artists > *{
    margin: 10px 20px;
    
    padding: 5px;
}
.artist{
    flex-direction: column;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: #2e2e2e;
    position: relative;

}
.pic{
    width: 120px;
    border-radius: 75px;
}
.pic-play{
    position: absolute;
    bottom: -12px;
    right: 10px;
    width: 65px;
    opacity: 0;
}
.artist p{
    font-size: 10px;
}
.playing{
    bottom: 0;
    right: 0;
    width: 945px;
    height: 7vh;
    background: #303030;
    border-radius: 5px;
}
.seekbar{
    width: 100%;
    height: 2px;
    background: green;
    top: 0;
}
.scircle{
    width: 10px;
    background: green;
    height: 10px;
    position: absolute;
    top: -4px;
    left: 0%;
    border: none;
    border-radius: 5px;
    transition: left;
}
.playingbtn{
    
    width: 75px;
    cursor: pointer;
}
.nxt{
    margin: 0 10px;
    width: 50px;
}
.prev{
    margin: 0 10px;
    width: 50px;
}
.info{
    padding:0 40px;
    width: 100%;
}
.cName,.time{
    /* padding: 0 10px; */
}
