@font-face {
    font-family: "spotify";
    src: url(/assests/font/GothamMedium.ttf);
}
:root{
    --grey: #121212;
    --ani: 0;
}
*{
    padding: 0;
    margin: 0;
    color: rgb(205, 204, 204);
    font-family: "spotify",sans-serif;
    
}
html, body {
    width: 100%;
    /* height: 100%; */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    background: #000;
}

nav{
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
}
.home-ic{
    width: 25px;
    padding: 0.7em;
    background: var(--grey);
    border-radius: 1.3em;
    border: none;
}
.logo{
    object-fit: cover;
    border-radius: 1.3em;
    border-radius: 2em;
    margin: 0em 1.2em 0em 1.2em;
    background: black;
    width: 30px;
    rotate: 5deg;
    transition: transform 1s ease;
}
.logo:hover{
    transform: rotate(360deg) scale(1.1);
}
nav input{
    border: none;
    background: var(--grey);
    margin-left: 10px;
    width: 35em;
    height: 3em;
    border-radius: 1.5em;   
}
.right-nav{
    width: 98vw;
}
.others-nav{
    margin: 0em 1em 0em 3em;
    text-align: center;
}
.three-nav a{
    padding-right: 1.5em;
    display: visible;
    text-decoration: none;
    transition: transform 1s ease-in-out;

}
.three-nav a:hover{
    filter: brightness(20);
    transform: scale(1.1);
    
}
.logins a{
    margin: 0 15px;
    font-size: 17px;
    text-decoration: none;
    filter: blur(90) ;
    transition: transform 1s ease-in;
    transform-origin: center;

}
.logins a:hover{
    transform: scale(1.5);
    filter: brightness(20);
}
.logins button{
    width: 8em;
    height: 4em;
    background: white;
    color: black;
    border: none;
    border-radius: 5em;
    font-weight: 900;
    cursor: pointer;
    transition: transform 0.5s ease;

}
.logins button:hover{
    transform: scale(1.1);
}
.body1{
    box-sizing: border-box;
    height: 100%;
}
.body1 > *{
    margin: 5px;    
    background: var(--grey);
    height: 88vh;
    border: none;
    border-radius: 5px;
}
.leftt{
    width: 35vw;
    left: 0%;
    /* height: 80vh; */
}
.leftt h3{
    margin: 10px 10px;
}
.leftt h3 img{
    width: 30px;
}
.lib{
    gap: 10px;
}
.songlist{
    padding: 10px 30px 10px 30px;
    overflow-y: auto;
    height:  65vh;
}

.songlist ul{
    list-style: none;
    height: 450px;
}
.songlist ul > *{
    padding: 10px;
    display: flex;
}
.songlist ul li{
    border: none;
    margin: 15px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 2s ease-in-out;
}
.songlist ul li:hover{

    background: rgb(41, 41, 41);

}
.songlist ul li img{
    border-radius: 10px;
}

.name > *{
    padding: 2px 30px;
}
.songName{
    font-size: 20px;
}
.artiyName{
    font-size: 10px;
}





/* -------------rightt div ------------------ */
.rightt{
    width:65vw;
}
.pop_artists{
    padding: 10px;
}
.plus{
    width: 30px;
}
.pop-artists-title{
    width: 97%;
    padding: 10px 0;
}
.artists{
    flex-wrap: wrap;
    margin: 0;
    width: 95%;
    height: 32vh;
    flex-direction: column;
    overflow-x: auto;
    background-color: #1a1a1a;
    border: none;
    border-radius: 5px;
}
.artists > *{
    margin: 10px 20px;
    
    padding: 5px;
}
.artist{
    flex-direction: column;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background: #2e2e2e;
    position: relative;
    cursor: pointer;
}

.pic{
    width: 120px;
    border-radius: 75px;
}
.pic-play{
    position: absolute;
    bottom: -12px;
    right: 10px;
    width: 50px;
    opacity: var(--ani);
    transition: bottom 0.5s ease-in-out;
}
.artist:hover{
    --a:100;
}
.artist p{
    font-size: 10px;
}
.playing{
    bottom: 0;
    width: 100%;
    height: 12vh;
    background: #303030;
    border-radius: 0;
    position: fixed;
    margin: 0;
    z-index: 1;
}
.seekbar{
    width: 100%;
    height: 2px;
    background: green;
    top: 0;
    cursor: pointer;
    transition: height 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
}
.seekbar:hover{
    height: 3px;
    top: -1px;
}
.sCircle{
    width: 12px;
    background: green;
    height: 12px;
    top: -4px;
    left: 0%;
    border: none;
    border-radius: 8px;
    transition: left;
    transition: left 0.3s linear;
}
.playingbtn{
    
    width: 75px;
    cursor: pointer;
}
.nxt{
    cursor: pointer;
    margin: 0 10px;
    width: 50px;
}
.prev{
    cursor: pointer;
    margin: 0 10px;
    width: 50px;
}
.info{
    padding:0 10px;
    width: 100%;
}
.sName{
    width: 35%;
    text-align: left;
}
.snt{
    display: flex;
    justify-content: end;
    align-items: center;
    align-content: center;
    gap: 40px;
    width: 35%;
}
.snt img{
    width: 30px;
}
.snt input{
    width: 100px;
}
input[type="range"] {
    -webkit-appearance: none; /* Remove default styles */
    width: 100%;
    height: 8px;
    background: rgb(143, 143, 143);
    border-radius: 5px;
    outline: none;
}

  