.bg{
    background: red;
}
.flexy{
    display: flex;
}
.flexy-dc{
    flex-direction: column;
}
.flexy-c{
    justify-content: center;
}
.flexy-a{
    align-items: center;
}
.flexy-e{
    justify-content: end;
}
.flexy-sb{
    justify-content: space-between;
}
.artists::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
}

.artists::-webkit-scrollbar-thumb {
    background-color: #444; /* dark grey for the scrollbar thumb */
    border-radius: 4px;
}
.songlist ul::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
}

.songlist ul::-webkit-scrollbar-thumb {
    background-color: #444; /* dark grey for the scrollbar thumb */
    border-radius: 4px;
}

.posi-r{
    position: relative;
}
.posi-a{
    position: absolute;
}